<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">

</head>
<body>



	<h1>Tell us about your pet!</h1>

	<form action="/pets/create" method="POST">

		Name: <input type="text" name="Name">
		Species: <input type="text" name="Species">
		Color: <input type="text" name="Color">
		Age: <input type="number" name="Age">
		Picture: <input type="text" name="Image">
		<button type="submit">Submit</button>
	</form>

</body>
</html>